
.category-title{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    @media(min-width: 1000px) {
        height: 150px;
        margin-bottom: 100px;
    }
    & h1 {
        font-size: 28px;
        line-height: 100px;
        @media(min-width: 1000px) {
            line-height: 150px;
        }
    }
}

.product {
    margin-top: 30px;
    margin-bottom: 100px;
    padding-left: 8%;
    padding-right: 8%;
    @media(min-width: 600px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    @media(min-width: 1000px) {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
    }
}

.product:nth-of-type(even) {
    & .product-text-container {
        @media(min-width: 1024px) {
            padding-left: 0;
            padding-right: 10%;
        }
    }
    @media(min-width: 1024px) {
        flex-direction:row-reverse ;
    }
}

.product-img-container {
    @media(min-width: 600px) {
        position: relative;
        height: 500px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    @media(min-width: 1000px) {
        width: 50%;
    }
        
    
    & img {
        width: 100%;
        @media(min-width: 600px) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.product-text-container {
    text-align: center;
    @media(min-width: 600px) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    @media(min-width: 1000px) {
        width: 50%;
        text-align: left;
        padding-left: 10%;
        padding-top: 5%;
    }
    
    & h1 {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        @media(min-width: 600px) {
            font-size: 40px;
        }
    }
}

.product-description {
    color: lighten(black, 30%);
    margin-bottom: 20px;
}