

a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}



.page-nav {
    width: 100%;
    border-radius: 5px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $White;
    &__list {
        list-style-type: none;
        @media (min-width: 600px)  {
            display: flex;
            justify-content: center;
        }
    }
    &__title {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        @media (min-width: 600px)  {
            top: 50%;
        }

    }
    &__link-container {
        position: relative;
        width: 90%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        background-color: $Primary-Gray;
        border-radius: 5px;
        @media (min-width: 600px) {
            width: 30%;
            height: 190px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
       
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
        &:nth-last-child(2) {
            @media(min-width: 600px) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        & img{
            position: absolute;
            top: -20%;
            left: 50%;
            transform: translateX(-50%);
            width: 40%;
            @media (min-width: 600px) {
                width: 60%;
            }
            @media (min-width: 1000px) {
                width: 40%;
            }
        }
    }
}
