
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');


h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
}

h1 {
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.15px;
}

h1 {
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
}

h5 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.7px;
}

h1 {
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
}

h6 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.3px;
}

.overline {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $Primary-Orange;
}

.sub-title {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;
    color: $Primary-Orange;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}