@import 'varibles.scss';
@import 'typography.scss';
@import 'buttonsStyle.scss';
@import 'nav.scss';
@import 'pageNav.scss';
@import 'home.scss';
@import 'feturedProducts.scss';
@import 'about.scss';
@import 'footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
